﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i class="fa fa-users fa-2x"></i> @Html.ActionLink("      Employee Directory", "Index", "Employee", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Employee Directory</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {

            var ruleDeleteConfirmDialog;

            ruleDeleteConfirmDialog = $("#dialog-form-delete").dialog({
                autoOpen: false,
                height: 190,
                width: 350,
                modal: true,
                buttons: [
                    {
                        text: "Delete",
                        "class": 'cancelButtonClass',
                        click: function () {

                            $.ajax({
                                url: '@Url.Action("Delete", "Employee", new { id = 1} )',
                                data: { 'id': $(this).data('id') },
                                type: "post",
                                cache: false,
                                success: function (savingStatus) {
                                    // Display a success toast, with a title
                                    //toastr.success('Your rule has been saved', 'Saved');
                                    location.reload();
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    // Display an error toast, with a title
                                    //toastr.error('Delete failed, contact your system administrator.', 'Error!');
                                }
                            });
                        }
                    },
                     {
                         text: "Cancel",
                         "class": 'cancelButtonClass',
                         click: function () {
                             ruleDeleteConfirmDialog.dialog("close");
                         }
                     }
                ],
                close: function () {
                    //form[0].reset();
                }
            });

            $(".DeleteEmployeeButton").click(function (event) {
                var str = this.id;
                var res = str.split('_');
                var EmployeeID = res[1];

                //ruleDeleteConfirmDialog.categoryid = category;
                ruleDeleteConfirmDialog.data('id', EmployeeID).dialog("open");
                $('.ui-dialog-buttonset :button').blur();
            });


        });

    </script>

</body>
</html>
