﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.actionIcons{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;

}

#loginForm > form > div:nth-child(4) > div > div > label{
    padding-left:0px;
}

div.navbar-header > i{
      position: fixed;
      padding-top: 10px;
      margin-left: -50px;
}