﻿@model EmployeeDirectory.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt>
            
        </dt>

        <dd>
            <br />
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div class="form-group">
                    
                        <input type="submit" value="Delete" class="btn btn-default" />
                        <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Employee")'" />
                   
                </div>
            }
        </dd>

    </dl>

    
</div>
