﻿@model EmployeeDirectory.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeLocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeLocationText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberAlt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberAlt)
        </dd>
        <dt>
           
        </dt>

        <dd>
            <br />
            <br />
            <input type="button" value="Back To List" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Employee")'" />
        </dd>



    </dl>
</div>


