﻿@model PagedList.IPagedList<EmployeeDirectory.ViewModels.EmployeeViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    <input type="button" value="Create" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Employee")'" />
</p>
@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            First Name
        </th>
        <th>
            Location
        </th>
        <th>
            Job Title
        </th>
        <th>
            Email
        </th>
        <th>
            Phone #
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLocationText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="actionIcons">
                        <a href='@Url.Action("Edit", "Employee", new {id = item.ID })'>
                            <i class="fa fa-pencil-square-o fa-lg"></i>
                        </a>
                    </div>
                }
                    <div class="actionIcons">
                        <a href='@Url.Action("Details", "Employee", new { id = item.ID})'>
                            <i class="fa fa-user fa-lg"></i>
                        </a>
                    </div>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="actionIcons">
                        <a href='@Url.Action("Delete", "Employee", new { id = item.ID})'>
                            <i class="fa fa-trash fa-lg"></i>
                        </a>
                       
                    </div>
                }
                
              
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



<div id="dialog-form-delete" title="Delete">
    <p class="deleteDialogText"><span class="ui-icon ui-icon-alert red" style="float:left; margin:3px 0px 0px 0;"></span>This item will be permanently deleted. Are you sure?</p>
</div>
