﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>This application is used for employee admin</h3>

<p>You must be logged in to use this application. If you do not have a login, contact your system administrator.</p>
