﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
   <strong>Suppot:</strong> <a href="mailto:admin@employeeDirectory.com">admin@employeeDirectory.com</a>
</address>